<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<center>
    <body>
    <h3 th:if="${message}">
        <span th:text="${message}"></span>
    </h3>
    <h3><a th:href="@{/list}">Thành Phố</a></h3>
    <form th:action="@{/create}" th:object="${city}" method="post">
        <table>
            <tr>
                <td>Tên</td>
                <td><input type="text"th:field="*{name}"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>

            </tr>
            <tr>
                <td>Diện thích</td>
                <td><input type="text" th:field="*{area}"/></td>
                <td th:if="${#fields.hasErrors('area')}" th:errors="*{area}">Name Error</td>

            </tr>
            <tr>
                <td>Quốc gia</td>
                <td><select  th:field="*{country}">
                    <option th:each="c:${countries}" th:value="${c.id}" th:text="${c.name}"></option>
                </select></td>
            </tr>
            <tr>
                <td>Dân số</td>
                <td><input type="text" th:field="*{population}"/></td>
                <td th:if="${#fields.hasErrors('population')}" th:errors="*{population}">Name Error</td>

            </tr>
            <tr>
                <td>GDP</td>
                <td><input type="text" th:field="*{GDP}"/></td>

            </tr>
            <tr>
                <td>Giới thiệu</td>
                <td><input type="text" th:field="*{description}"/></td>

            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Create customer"></td>
            </tr>
        </table>
    </form>
    </body>
</center>
</html>